Action{
    layout: horizontal;
    background: $boost;
    margin: 1;
    padding: 1;
    content-align: center middle;
}

#action-grid{
    layout: horizontal;
    background: $boost;
    margin: 1;
    padding: 1;
    grid-size: 3 3;
}